<h1>Index of all the volunteers</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-volunteer" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">
        <div class ="photo-profile" style="background-image: url('<%= cl_image_path("Photo-Volunteer") %>')"></div>
        <div class="card-trip-infos">
          <div>
            <h2>Michelle Obama</h2><button type="button" class="btn btn-primary button-action">MY PROFILE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



