<h1>These are all the users</h1>
<!-- implement search options with all the interests to toggle -->
<!-- iterate through all the users -->

<div class="container">
  <div class="row">
    <% @users.each do |user| %>
    <div class="col-xs-12 col-md-4">
      <div class="card-user-infos">
        <h2><%= user.first_name.last_name %></h2>
      </div>
    </div>
  </div>
</div>





<% @users.each do |user| %>
<!-- card -->
  <%=  %>
  <%=  %>
<% end %>
Réduire




