<h1>Index of all the volunteers</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-volunteer" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">
        <div>
        <div class ="photo-profile" style="background-image: url('<%= cl_image_path("Photo-Volunteer") %>')"></div>
            <h2>Michelle Obama</h2>
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

            <button type="button" class="btn btn-primary button-action" id="profile-btn">MY PROFILE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



