<h1>Our selection of volunteers</h1>


<body>
  <div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 mb-3">
      <div class="activities2">
        <i class="fas fa-film fa-7x" id="pastille-cine"></i>Cinema
        <i class="fas fa-theater-masks fa-7x" id="pastille-theatre"></i>Theatre
        <i class="fas fa-utensils fa-7x"></i> Eating
        <i class="fas fa-mug-hot fa-7x"></i>Tea or Coffee
        <i class="fas fa-dice fa-7x"></i>Playing games
        <i class="fas fa-walking fa-7x"></i>Walking
        </div>
      </div>
    </div>
</body>



<body class ="home-wrapper-3">
  <div class="container">
   <h3>Select one or several activities : </h3>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mb-3">
      <div><ul class="activities">
        <li><a href="#"> <i class="fas fa-film fa-7x" id="pastille-cine"></i> Cinema</a> </li>
        <li><a href="#"> <i class="fas fa-theater-masks fa-7x" id="pastille-theatre"></i>Theatre play</a></li>
        <li><a href="#"> <i class="fas fa-utensils fa-7x"></i> Eating</a></li>
        <li><a href="#"> <i class="fas fa-mug-hot fa-7x"></i>Tea or Coffee</a></li>
        <li><a href="#"> <i class="fas fa-dice fa-7x"></i>Playing games</a></li>
        <li><a href="#"> <i class="fas fa-walking fa-7x"></i>Walking</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>



<body class ="home-wrapper-2">
<div class="container">
  <div class="row">
      <% @users.each do |user| %>
    <div class="col-12 col-sm-6 col-md-4 mb-3">
      <div class="card-volunteer" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">
        <div>
        <div class ="photo-profile" style="background-image: url('<%= cl_image_path("Photo-Volunteer") %>')"></div>
            <h2>Michelle Obama</h2>
            <i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i>
            <div class="icones">
            <i class="fas fa-dice fa-border fa-2x"></i> <i class="fas fa-utensils fa-border fa-2x"></i> <i class="fas fa-theater-masks fa-border fa-2x" ></i>
            </div>

            </div>
            <%= link_to "MY PROFILE", profile_path(user), class: "btn btn-primary button-action-profile"%>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>
