<h1>Our selection of volunteers</h1>


<div class ="index-wrapper-1">
  <div class="container">
       <div class="col-sm-12 col-md-4 col-lg-12">
        <div class="activities-tile">
          <i class="fas fa-film fa-5x circle-icon fa-border" id="pastille-cine"></i>Cinema
          <i class="fas fa-theater-masks fa-5x circle-icon fa-border" id="pastille-theatre"></i>Theatre
          <i class="fas fa-utensils fa-5x fa-border circle-icon"></i> Eating
          <i class="fas fa-mug-hot fa-5x circle-icon fa-border"></i>Tea or Coffee
          <i class="fas fa-dice fa-5x circle-icon fa-border"></i>Playing games
          <i class="fas fa-walking fa-5x circle-icon fa-border"></i>Walking
        </div>
      </div>
    </div>
  </div>
</div>




<div class ="home-wrapper-2">
<div class="container">
  <div class="row">
      <% @users.each do |user| %>
    <div class="col-12 col-sm-6 col-md-4 mb-3">
      <div class="card-volunteer" style="background-image: url('<%= cl_image_path("shape-card-volunteer")%>');">
        <div>
        <div class ="photo-profile" style="background-image: url('<%= cl_image_path("Photo-Volunteer") %>')"></div>
            <h2>Michelle Obama</h2>
            <i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i><i class="fas fa-star fa-2x"></i>
            <div class="icones">
            <i class="fas fa-dice fa-border fa-2x"></i> <i class="fas fa-utensils fa-border fa-2x"></i> <i class="fas fa-theater-masks fa-border fa-2x" ></i>
            </div>

            </div>
            <%= link_to "MY PROFILE", profile_path(user), class: "btn btn-primary button-action-profile"%>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>
