
<div class="container container-buttons d-flex justify-content-between">
  <div class="send">
    <%= link_to "Back", profiles_path, class: 'btn btn-primary'%>
    <%= link_to "Send message", new_profile_request_path(@user), class: 'btn btn-primary' %>
  </div>
</div>


