h1 {
font-size: 45px;
text-align: center;
margin-top: 30px;
margin-bottom: 25px;
font-weight: bold;
}

h3 {
text-align: center;
font-style: italic;
margin-bottom: 15px;
}

.form-group {
  display: inline-block;
}

// .backbtn {
//   display: inline-block;
// }
