<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <i class="far fa-comment-dots"></i>
          <a class="nav-link" href="#">MESSAGES</a>
        </li>
        <li class="nav-item">
          <i class="far fa-user-circle"></i>
          <a class="nav-link" href="#">PROFILE</a>
        </li>


            <%= link_to 'log out', destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
          </div>
        </li>

      <% else %>

        <li class="nav-item signup">
          <%= link_to "sign in", new_user_session_path  , class: "btn btn-primary button-action"  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
