
<h1>Edit Request</h1>

<%= link_to "Back", requests_path(@request), class: 'btn btn-primary'%>

<p>15.9.2019</p>
<p>16:00-18:30</p>

<p>Meeting with: Hannah Schulz</p>



<%= link_to "Save", requests_path, class: 'btn btn-primary'%>
<%= link_to "Cancel", request_path, class: 'btn btn-primary'%>

