<body class ="home-wrapper">
  <div class="container">
    <div class="container-landing">
      <h1><strong>ElderMe - live to the fullest</strong>!</h1>
      <p> You will not spend time alone anymore. We connect seniors with young people.</p>
        <div id="CTA-home" class="button-center"><button type="button" id="start-button" class="btn btn-primary button-action" >START</button>
        </div>
    </div>
      <div class="banner-img"> <%= cl_image_tag("landing_page_shape") %>
      </div>
  </div>
</body>




