.home-wrapper-2{


.card-volunteer {
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  background-repeat: no-repeat !important;
  height:500px;
  // width:250px;
  background-size: cover;
}

.card-volunteer:hover{
    cursor: pointer;
    box-shadow: 0 0 100px rgba(0,0,0,.2);
    background: rgba(0,0,0,0);
    color: #EB9486;
    background-size: cover;
}

// .card-photo-volunteer {
//   height: 200px;
//   width: 100%;
//   border-radius:50%;
//   object-fit: cover;
// }

.card-volunteer h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.photo-profile {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-position: center;
  border-radius:50%;
  border: 4px solid white;
  background-size: cover;
  margin-top : 20px;
}

.photo-profile img {
  z-index:1;
}

.background img {
  z-index:0;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.fas.fa-star{
  color: #EB9486;
}

.fas.fa-dice{
  margin-top: 50px;
  border-radius : 500px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 10px;

}

.fas.fa-utensils{
  margin-top: 50px;
  border-radius : 500px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 10px;
}

.fas.fa-theater-masks{
  margin-top: 50px;
  border-radius : 500px;
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 10px;
}

.icones{
  display: flex;
  align-items: center;
  justify-content: center;
  }
}


