.index-wrapper-1 {


.activities-tile{
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
  width:800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  text-align: center;

}

.circle-icon {
    background: white;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    vertical-align: middle;
    padding: 30px;
    margin-bottom: 30px;

  }

}





