.index-wrapper-1 {

  .circle-activities-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    justify-content: center;
    width:800px;
    flex-flow: now wrap;
    justify-content: space-around;
    margin: auto;
    text-align: center;
  }

  .circle-activities {
    background: white;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    vertical-align: middle;
    padding: 30px;
    margin-bottom: 30px;
    margin: 20px;
    box-shadow: 3px 3px 10px #554d4d30;
  }

  .circle-activities:hover{
    cursor: pointer;
  }
.circle-activities-selected:hover{
    cursor: pointer;
  }
  .circle-activities-selected {
    background: #F2D86F;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    vertical-align: middle;
    padding: 30px;
    margin-bottom: 30px;
    margin: 20px;

  }

}

.d-flex


.icone-card {
  background: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  padding: 0px;
  margin-bottom: 30px;
  margin: 10px;
  box-shadow: 3px 3px 10px #554d4d30
}


