.form-inputs {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  background: #E5E5E5;
  padding: 10px;
  border-radius: 10px;
}

.Volunteer {
  font-family: DM Sans;
  font-size: 20px;
  padding: 20px;
}

.gender {
  padding: 20px;
  font-size: 20px;
  padding: 20px;
}

.sub {
  border-radius: 50px;
  background-color: #48ACF0;
  color: white;
  width:150px;
  padding: 2px 2px 3px 3px;
  margin: 5px;
}

a {
  color: red;
  border-radius: 50px;
  width : 150px;
}

.h2 {
  text-align: center;
}

.btn {
  color:white;
}
