body.home-wrapper {
  background-image: url("https://res.cloudinary.com/dmuxhwwrg/image/upload/c_scale,h_360,w_1440/v1567000429/wave_home.png");
  background-repeat: no-repeat;
  z-index: 0;
}

body.home-wrapper-2 {
  background-image: url("https://res.cloudinary.com/dmuxhwwrg/image/upload/v1567000429/wave_home.png
");
  background-repeat: no-repeat;
}

//body.home-wrapper-3 {
//  background-image: url("https://res.cloudinary.com/dmuxhwwrg/image/upload/c_scale,h_266,q_88/v1567678878/wave-bottom-search.png");
 // background-repeat: no-repeat;
//}

//body.home-wrapper-4 {
 // background-image: url("https://res.cloudinary.com/dmuxhwwrg/image/upload/c_scale,h_360,w_1440/v1567000429/wave_home.png");
 // background-repeat: no-repeat;
//}


.home-wrapper-3 {
  background-image: url("https://res.cloudinary.com/dmuxhwwrg/image/upload/c_scale,h_266,q_88/v1567678878/wave-bottom-search.png");
  background-repeat: no-repeat;
  height: 430px;
  //background-position: bottom;
  background-position-y: 538px;
  background-size: cover;
}




