body.home-wrapper {
  background-image: url("https://res.cloudinary.com/dmuxhwwrg/image/upload/c_scale,h_360,w_1440/v1567000429/wave_home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

