body.home-wrapper {
  background-image: url("https://res.cloudinary.com/dmuxhwwrg/image/upload/c_scale,h_360,w_1440/v1567000429/wave_home.png");
  background-repeat: no-repeat;
  z-index: 10;
}

body.home-wrapper-2 {
  background-image: url("https://res.cloudinary.com/dmuxhwwrg/image/upload/c_scale,h_340,w_1440/v1567101448/Vector-yellow.png");
  background-repeat: no-repeat;
  z-index: 10;
}
